# Postgres (pooled) connection string
# Used by the application layer, and should be configured to use connection pooling (pgbouncer) in prod
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"

# Postgres direct connection string
# Used by Prisma for migrations
DIRECT_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"

# Supabase project URL
SUPABASE_URL="http://127.0.0.1:54321"

# Supabase anonymous (public) key
SUPABASE_ANON_KEY="sb_publishable_XXX"

# Supabase service role key
# Secret key, never expose to the client
SUPABASE_SERVICE_ROLE_KEY="sb_secret_XXX"