@import "tailwindcss";

@theme {
  --color-sga-red: #C8102E;
  --color-semi-transparent-black: rgba(0, 0, 0, 0.5);
  --color-solid-black: #000000;
  --color-semi-transparent-white: rgba(255, 255, 255, 0.9);
  --color-sga-red-alt: #dc2626;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-sga-red {
  color: #C8102E !important;
}

.bg-sga-red {
  background-color: #C8102E !important;
}

body {
  margin: 0;
}